/* https://makina-corpus.com/blog/metier/2014/construire-un-tree-view-en-css-pur */

/* fonctionnel */

.css-treeview li input
{
	display: none;
}

.css-treeview input ~ ul
{
	display: none;
}

.css-treeview input:checked ~ ul
{
	display: block;
}

/* habillage */

li
{
	display: block;
	font-family: 'Arial';
	font-size: 15px;
	padding: 0.2em;
	border: 1px solid transparent;
	margin: 2px;
}

li img
{
	margin-right: 5px;
}

input:checked ~ ul
{

	background-color: lightgrey;
}

/* INFOS BOX */

div.infos
{
	margin-left: 2px;
	background-color: white;

	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
}

div.infos , div.infos *
{
	display: inline-block;
}

.bitrate_info, .comment_info , .country, .country_info
{
	margin-left: 10px;
}

div.infos *:first-child
{
	margin-left: 0px;
}

.bitrate_info
{
	font-size: 10px;
}

.comment_info
{
	font-style: italic;
}

/* COUNTRY BOX */

.flag-text
{
	margin-left: 10px;
}

/* LOADING */

.no-js #loader
{
	display: none;
}

.js #loader
{
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.loading
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/public/img/loading.gif) center no-repeat #fff;
}